<div class="mid">
<div>
  <v-alert
  dense
  outlined
  type="error"
  v-show="this.hasErrors"
  >
     {{errorString}} 
 </v-alert>
<v-form >
  <v-text-field
  v-model="OldPassword"
  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
  :type="show1 ? 'text' : 'password'"
  name="OldPassword"
  label="Old Password"                                
  @click:append="show1 = !show1"
  ></v-text-field>
  <v-text-field
  v-model="NewPassword"
  :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
  :type="show2 ? 'text' : 'password'"
  name="NewPassword"
  label="New Password"                                
  @click:append="show2 = !show2"
  ></v-text-field>
    
   <v-text-field
       v-model="reNewPassword"
       :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
       :type="show3 ? 'text' : 'password'"
       name="reNewPassword"
       label="re - New Password"                                
       @click:append="show3 = !show3"
       ></v-text-field>

</v-form> 
<button class="btn btn-primary"  @click="reset">Reset</button>

</div>
</div>
