<v-app id="inspire">
  <v-content>
     <v-container fluid fill-height>
        <v-layout align-center justify-center>
           <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
                 <v-toolbar dark color="primary">
                    <v-toolbar-title>LMS </v-toolbar-title>
                 </v-toolbar>
                 <v-card-text>
                     <v-alert
                     dense
                     outlined
                     type="error"
                     v-if="this.hasErrors"
                     >
                        {{errorString}} 
                    </v-alert>
                    <v-form>
                     
                       <v-text-field
                          id="username"
                          v-model="username"
                          label="Username"
                          type="text"
                       ></v-text-field>
                        <v-text-field
                          id="phone"
                          v-model="phone"
                          label="Phone"
                          type="text"
                       ></v-text-field>
                        <v-text-field
                          id="address"
                          v-model="address"
                          label="Address"
                          type="text"
                       ></v-text-field>
                         <v-text-field
                          id="dob"
                          v-model="dob"
                          label="BirthDate"
                          type="date"
                       ></v-text-field>
                         
                        <v-text-field
                            v-model="password"
                            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show ? 'text' : 'password'"
                            name="password"
                            label="Password"                                
                            @click:append="show = !show"
                            v-validate="{ required: true, min: 10}"
                            ></v-text-field>
                                

                    </v-form> 
                    
                 </v-card-text>
                 <v-card-actions>
                     <router-link to="/log-in"> or <b>Login</b></router-link>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="signUp" v-if="!isLoading">Sign Up</v-btn>
                    <v-progress-circular
                          v-if="isLoading"
                          color="primary"
                          indeterminate
                     ></v-progress-circular>
                 </v-card-actions>
              </v-card>
           </v-flex>
        </v-layout>
     </v-container>
  </v-content>
</v-app>