<div class="card text-center m-3">
    <h3 class="card-header">{{current}}</h3>
    <ul>
        <li><a href="#" @click="all"><span >All</span></a></li>
        <li><a href="#" @click="avilable"><span >Avilable</span></a></li>
        <li><a href="#" @click="add"><span >Add</span></a></li>
        <li><a href="#" @click="search"><span >Search ID</span></a></li>
      </ul>
<div v-if="current == 'All Books' || current=='Avilable'">
    <div class="card-body">
        <div class="items"  >
            <div class="item">
                <b>Id:Title</b>
                
            </div>
            <div class="item">
                <b>Author</b>
               
            </div>
            <div class="item">
                <b>Avilable</b>
            </div>
            <div class="item">
               <b>Tolotal Number</b>
            </div>
            <div class="item">
                <b>Actions</b>
            </div>
        </div>
        <div class="items" v-for="book in Books" >
            <div class="item">
                {{book.id}}:
                {{book.title}}
            </div>
            <div class="item">
                {{book.author}}
            </div>
            <div class="item">
                {{book.avilable}}
            </div>
            <div class="item">
                {{book.totalNum}}
            </div>
            <div class="item">
                <a href="#" class="delete" v-on:click="del(book.id)"><v-icon style="color: red;"> mdi-delete</v-icon></a>
                <a href="#" class="edit" v-on:click="edit(book.id)"><v-icon > mdi-lead-pencil</v-icon></a>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#" v-on:click="ppage()">&laquo;</a>
        <a v-for="page in pageOfItems" href="#" @click="onChangePage(page)"><b v-if="page==cpage">{{page}}</b> <span v-else>{{page}}</span></a>
        <a href="#" v-on:click="npage()">&raquo;</a>
    </div>
</div>
<div v-if="current == 'Search by ID'">
    <div class="items">
        <input class="input" v-model="id" placeholder="ID">
        
    </div>
    <div class="items"style=" justify-content: center;">
        <a
        href="#"
        class="button-21"
        @click="search()"
      >search</a>
    </div>
    <div v-if="Books.lenght != 0" style="margin-top: 12px;">

        <div class="items"  >
            <div class="item">
                <b>Id:Title</b>
                
            </div>
            <div class="item">
                <b>Author</b>
               
            </div>
            <div class="item">
                <b>Avilable</b>
            </div>
            <div class="item">
               <b>Tolotal Number</b>
            </div>
            <div class="item">
                <b>Actions</b>
            </div>
        </div>
        <div class="items" v-for="book in Books" >
            <div class="item">
                {{book.id}}:
                {{book.title}}
            </div>
            <div class="item">
                {{book.author}}
            </div>
            <div class="item">
                {{book.avilable}}
            </div>
            <div class="item">
                {{book.totalNum}}
            </div>
            <div class="item">
                <a href="#" class="delete" v-on:click="del(book.id)"><v-icon style="color: red;"> mdi-delete</v-icon></a>
                <a href="#" class="edit" v-on:click="edit(book.id)"><v-icon > mdi-lead-pencil</v-icon></a>
            </div>
        </div>



    </div>
</div>
<div v-if="current == 'Add'">


    <div class="items">
    
        <b class="input1">Title</b><input class="input" v-model="title" placeholder="title"  pattern="[A-Za-z]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">Author</b>
        <input class="input" v-model="author" placeholder="author" pattern="[A-Za-z]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">All</b>
        <input class="input" v-model="quantity" placeholder="quantity" pattern="[0-9]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">Avilable</b>
        <input class="input" v-model="aquantity" placeholder="avilable" pattern="[0-9]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">Price</b>
        <input class="input" v-model="price" placeholder="price" pattern="[+-]?([0-9]*[.])?[0-9]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">Publisher Id</b>
        <input class="input" v-model="publisherid" placeholder="publisher id" pattern="[0-9]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">User Id</b>
        <input class="input" v-model="userid" placeholder="user id" pattern="[0-9]+" required>
        
    </div>
    <div class="items"style=" justify-content: center;">
        <a
        href="#"
        class="button-21"
        @click="add()"
      >add</a>
    </div>

</div>


<div v-if="current == 'Edit' && Books.lenght != 0">


    <div class="items">
    
        <b class="input1">All</b>
        <input class="input" v-model="quantity" placeholder="quantity" pattern="[0-9]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">Avilable</b>
        <input class="input" v-model="aquantity" placeholder="avilable" pattern="[0-9]+" required>
        
    </div>
    <div class="items">
    
        <b class="input1">Price</b>
        <input class="input" v-model="price" placeholder="price" pattern="[+-]?([0-9]*[.])?[0-9]+" required>
        
    </div>

    <div class="items"style=" justify-content: center;">
        <a
        href="#"
        class="button-21"
        @click="edit(id)"
      >save</a>
    </div>

</div>
</div>
