<a href="" target="_blank">
  <header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->

<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message">
      <h1 class="message__title">Access Denied</h1>
      <p class="message__text">We're sorry, this page you were looking for is looked or no longer exists. Please try again later.</p>
    </div>
    <div class="error__nav e-nav">
      <router-link to="/"  class="e-nav__link"></router-link>
    </div>
  </div>
  <!-- END Content -->

</section>

  </a>